---
import Section from "./Section.astro";
---

<Section
  title="Solar Roof"
  subtitle="Produce Clean Energy From Your Roof"
  color="black"
  id="model-x"
>


<div slot='footer' class='gap-x-6 flex mx-auto pb-16'>
  <a
  class='border-[3px] border-transparent bg-white/80 text-sm backdrop-blur-sm rounded font-medium text-black px-24 py-2 inline-block transition-colors'
      
      href='#'
    >
    Order Now</a
  >
  <a
  class='border-[3px] border-transparent bg-neutral-800/70 text-sm backdrop-blur-sm rounded font-medium text-white px-24 py-2 inline-block transition-colors'
      href='#'
    >
    Lear More</a
  >
</div>

  <img
    slot="background"
    alt="Solar Roof"
    class="h-full w-full object-cover object-center bg-image"
    src="solar-roof.avif"
    id="bg-image-modely"
  />
</Section>